@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'MyCustomFont';
  src: url('@/assets/fonts/MyCustomFont-Regular.woff2') format('woff2'),
       url('@/assets/fonts/MyCustomFont-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('@/assets/fonts/MyCustomFont-Bold.woff2') format('woff2'),
       url('@/assets/fonts/MyCustomFont-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
